/* Réinitialisation des marges, paddings et box-sizing pour tous les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Réinitialisation du body et de html */
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--text-content);
  color: var(--dark);
  background-color: #f9f9f9; /* Couleur de fond neutre */
}

/* Conteneur principal de l'application */
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

/* Titres globaux */
h1 {
  font-family: var(--headline);
  font-size: 2.5rem;
  color: var(--primary-color);
}

h2 {
  font-family: var(--headline-semiBold);
  font-size: 2rem;
  color: var(--primary-color);
}

h3,
h4,
h5 {
  font-family: var(--subtitle);
  font-size: 1.5rem;
}

/* Paragraphe standard */
p {
  font-family: var(--text-content);
  line-height: 1.6;
  font-size: 1rem;
  color: var(--dark);
}

/* Page container pour les pages principales */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding: 1rem;
}

/* Boutons globaux */
button {
  font-family: var(--text-content);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

/* Liens globaux */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Media queries pour la responsivité */
@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
