/* Import des polices depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Variables globales */
:root {
  --primary-color: #6096ba; /* Bleu clair */
  --secondary-color: #bbd686; /* Vert clair */
  --secondary-color-darker: #617d2a; /* Vert foncé */
  --dark: #292222; /* Noir profond */
  --light: #f9f9f9; /* Blanc cassé */
  --error-color: #e63946; /* Rouge pour les erreurs */
  --success-color: #4caf50; /* Vert pour le succès */

  --headline: "Playfair Display", serif; /* Police pour les titres principaux */
  --headline-semiBold: "Playfair Display", serif; /* Semi-bold géré avec font-weight */
  --subtitle: "Raleway", sans-serif; /* Police pour les sous-titres */
  --text-content: "Roboto", sans-serif; /* Police pour le texte standard */
}
